apiVersion: apps/v1
kind: Deployment
metadata:
  name: expense-frontend
  labels:
    app: expense-frontend
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: expense-frontend
      tier: frontend
  template:
    metadata:
      labels:
        app: expense-frontend
        tier: frontend
    spec:

      initContainers:
        - name: wait-for-app
          image: curlimages/curl:8.1.2   # Tiny image with curl
          command:
            - sh
            - -c
            - |
              echo "Waiting for app to be ready on port 8080..."
              until curl -sSf http://expense-backend:8080/health >/dev/null 2>&1; do
                echo "App not ready yet, retrying in 3s..."
                sleep 3
              done
              echo "App is ready!"
      containers:
        - name: expense-frontend-cont
          image: vaheeddockerhub/expense-frontend:1.0.0
          imagePullPolicy: Always
          ports:
            - name: frontend
              containerPort: 8080
      
      startupProbe:
        tcpSocket:
          port: 8080
        initialDelaySeconds: 30
        periodSeconds: 10
        timeoutSeconds: 10
        failureThreshold: 6

      readinessProbe:
        tcpSocket:
          port: 8080
        initialDelaySeconds: 10
        periodSeconds: 10
        timeoutSeconds: 10
        failureThreshold: 3

      livenessProbe:
        httpGet:
          path: /nginx-health
          port: 8080
        initialDelaySeconds: 10
        periodSeconds: 10
        timeoutSeconds: 10
        failureThreshold: 3
          
---
apiVersion: v1
kind: Service
metadata:
  name: expense-frontend
  labels:
    app: expense-frontend
    tier: frontend
spec:
  type: NodePort
  selector:
    app: expense-frontend
    tier: frontend
  ports:
  - name: expense-frontend
    protocol: "TCP"
    port: 8080
    targetPort: 8080
    nodePort: 32127
