apiVersion: apps/v1
kind: Deployment
metadata:
  name: expense-backend
  labels:
    app: expense-backend
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: expense-backend
      tier: backend
  template:
    metadata:
      labels:
        app: expense-backend
        tier: backend
    spec:
      # ──────────────── InitContainer ────────────────
      initContainers:
        - name: wait-for-mysql
          # image: mysql:8.0-oraclelinux8-client       # lightweight client-only image around 50 MB
          image: cgr.dev/chainguard/mysql-client:8.0   # Lightweight & secure around 10 MB
          command:
            - sh
            - -c
            - |
              echo "Waiting for MySQL to be ready..."
              until mysql -h mysql-svc -u healthcheck -e "SELECT 1" >/dev/null 2>&1; do sleep 3; done
              echo "MySQL is ready"
              # until mysqladmin ping -h mysql-svc -u healthcheck --silent; do sleep 3; done; echo "MySQL is ready"
          env:
            - name: MYSQL_PWD    # 'MYSQL_PWD' is predefined env variable which mysql clients (mysql, mysqladmin, mysqldump) automatically looks for.
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: HEALTHCHECK_PASSWORD

      # ──────────────── App Container ────────────────    
      containers:
      - name: expense-backend-cont
        image: vaheeddockerhub/expense-backend:68eca7c
        imagePullPolicy: Always

        ports:
          - name: expense-backend
            containerPort: 8080

        env:
          - name: DB_PWD
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: DB_PWD
        envFrom:
          - configMapRef:
              name: expense-backend-env-vars

        # ──────────────── Startup Probe ────────────────
        startupProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 5
          failureThreshold: 20
        
        # ──────────────── Readiness Probe ────────────────
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 10
          failureThreshold: 3
          
        # ──────────────── Liveness Probe ────────────────
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 10
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: expense-backend
  labels:
    app: expense-backend
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: expense-backend
    tier: backend
  ports:
  - name: expense-backend
    protocol: "TCP"
    port: 8080
    targetPort: 8080
    #nodePort: 32123
