apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb-config
data:
  # Mysql init script
  init.sql: |
      CREATE USER IF NOT EXISTS 'healthcheck'@'%' IDENTIFIED BY 'password';
      GRANT USAGE ON *.* TO 'healthcheck'@'%';

      CREATE DATABASE IF NOT EXISTS transactions;
      USE transactions;

      CREATE TABLE IF NOT EXISTS transactions (
          id INT AUTO_INCREMENT PRIMARY KEY,
          amount INT,
          description VARCHAR(255)
      );

      CREATE USER IF NOT EXISTS 'expense'@'%' IDENTIFIED BY 'ExpenseApp@1';
      GRANT ALL PRIVILEGES ON transactions.* TO 'expense'@'%';
      FLUSH PRIVILEGES;
